* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    width: 1170px;
    margin: auto;
}

header {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url("image/home.png");
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

.nav-area {
    float: right;
    list-style: none;
    margin-top: 30px;
}

.nav-area li {
    display: inline-block;
}

.nav-area li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
}

.nav-area li a:hover {
    background: #fff;
    color: #333;
}

.logo {
    float: left;
}

.logo img {
    width: 70%;
    padding: 15px 0;
}

.welcome-text {
    position: absolute;
    width: 660px;
    height: 300px;
    margin: 20% 29%;
    text-align: center;
}

.welcome-text h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 55px;
}

.welcome-text h1 span {
    color: rgb(255, 49, 49);
}

.welcome-text a {
    border: 1px solid #fff;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    color: #fff;
}

.welcome-text a:hover {
    background: #fff;
    color: #333;
}
